#root {
  max-width: 1280px;
  
  margin: 0 auto;
  padding: 2rem;
  
  text-align: center;
}

.color-picker-list {
  gap: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color-picker-list-item {
  min-width: 150px;
  min-height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  .list-item-text {
    margin: 0;
    font-size: 1.5rem;
  }
}

